
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Manrope:wght@300;400;500&family=Oswald&family=Ubuntu:wght@300;400&display=swap');
body{
    font-family: Manrope;
}

.media-hero, .media-web{
    padding: 2% 6%;
}
.media-hero h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.media-left{
    width: 60%;
}
.media-left h2{
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
}
.media-right h2{
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0;
}
.carousel-inner{
    height: 500px;
    border-right: solid 1px #f1f1f1;
    padding-right: 40px;
    /* width: 200px; */
}
.media-web h1{
    font-size: 48px;
}
.media-right{
    width: 45%;
    /* border-left: solid 1px #f1f1f1; */
    padding-left: 40px;
}
.blogg{
    border-bottom: solid 1px #f1f1f1;
    padding-bottom: 20px;
    margin-top: 30px;
}
.blogg p{
    font-size: 14px;
}
.blogg span{
    color: #004cc7;
    padding-right: 20px;
}
.blogg h3{
    font-size: 20px;
    width: 90%;
}
.media-bloggg{
    height: 80vh;
    overflow-y: scroll;
}
.webinar{
    width: 250px;
    margin-top: 20px;
    margin-bottom: 40px;
    /* height: 100px; */
}
.webinar p{
    font-size: 14px;
    margin-top: 10px;
}
.webinar h3{
    font-size: 17px;
}
.med-receive{
    background: #f9fbff url('https://s-group.io/media/images/background/two_circle.svg') no-repeat 50%;
    padding: 2% 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* text-align: center; */
}
.med-receive p,.med-receive h1{
    text-align: center;
}
.med-input{
    border: solid 1px #f2f2f2;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}
.med-input input{
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
}
.med-input button{
    background-color: #004cc7;
    height: 46px;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

@media only screen and (max-width: 600px) {

    .media-left{
        width: 100%;
    
    } 
    .media-right{
        width: 100%;
        padding-left: 0px;
    } 
    .carousel-inner{
        height: 500px;
        border-right: none;
        padding-right: 0px;
        width: 100%;
    }
    .med-inputt{
        border: solid 1px #f2f2f2;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
    }
    .only{
        height: 50px;
        width: 100%;
        background: #004cc7;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .med-receive{
        text-align: center;
    }
}